---
import BlogPost from "../layouts/BlogPost.astro";
import cover from "../content/about/baro.jpg";
---

<BlogPost
  title="About Me"
  description="About Me"
  pubDate={new Date(0)}
  readTime={0}
  lang="IT"
  tags={[]}
  showPubDate={false}
  showComments={false}
  coverImage={cover}
  coverImageDescription="Mand i computer, Pjotr Baro"
>
  <p>
    Hi 👋, I'm Giacomo Vallorani, a software engineer with a passion for
    distributed systems. I'm always keen to try out new things and learn from
    different areas of technology. I have a particular interest in well-designed
    UX and UI, great design can truly elevate any product.
  </p>
  <p>
    I've been a Maker for over 10 years, and my journey began when I first
    encountered Arduino. It was love at first sight, and since then, I've been
    hooked on creating and experimenting with various projects.
  </p>
  <p>
    I also have a passion for analog photography. I own around 10 cameras and an
    enlarger, and I love the whole process of shooting, developing, and printing
    my photos independently. It’s a rewarding experience that allows me to be
    fully immersed in the creative and technical aspects of photography.
  </p>
  <p>
    I hold a bachelor's degree from the University of Pisa and a master's degree
    from the University of Bologna, both with a focus on service-oriented
    software engineering. Throughout my academic journey, I developed a solid
    foundation in building scalable, efficient systems.
  </p>
  <p>
    Above all, I’m driven by curiosity and enjoy experimenting with new
    technologies to see what’s possible. Whether it’s tackling a new project or
    diving into the latest trends, I’m always eager to push my knowledge
    further.
  </p>
</BlogPost>
