<style>
  /* Frosted Glass Effect for Header */
  .frosted-header {
    backdrop-filter: blur(10px);
    background-color: rgba(251, 249, 247, 0.6); /* Semi-transparent white */
  }
</style>
<header class="fixed top-0 left-0 w-full z-50 frosted-header">
  <div class="mx-auto max-w-3xl px-4 py-6 flex items-center justify-between">
    <a href="/" class="text-xl font-semibold">Vallasc<di class="text-red-800">.com</di></a>
    <div>
      <a class="p-2 text-l hover:text-red-800" href="/about">Me</a>
      <a class="p-2 text-l hover:text-red-800" href="/blog">Blog</a>
      <a class="p-2 text-l hover:text-red-800" href="/projects">Projects</a>
    </div>
  </div>
</header>