---
const today = new Date();
---

<footer class="text-gray-600 text-sm py-4">
  <div class="max-w-3xl mx-auto px-4 flex justify-between items-center">
    <p class="serif-text">
      &copy; {today.getFullYear()}
      <a href="/" class="underline hover:text-gray-800">vallasc.com</a>. All
      rights reserved.
    </p>
    <div class="space-x-4">
      <a
        href="https://github.com/Vallasc"
        class="hover:text-gray-800">GitHub</a
      >
      <a
        href="https://linkedin.com/in/giacomovallorani"
        class="hover:text-gray-800">LinkedIn</a
      >
    </div>
  </div>
</footer>
